.trabWhite{
  background-color: #f6f8fc;
}
.trabDark{
  background-color: #393838;
  color: #CCCCCC;
}

.textoWhite h3{
  color: #32333c;
}
.textoDark h3{
  color: #CCCCCC;
}

#sectionTrab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

#experiencia h3{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
h3::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  background-color: #feb633;
}

#experiencia p{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #8a8fa3;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}

.cards{
  display: flex;
  justify-content: center;
}

/*==================== Media 768px ====================*/
@media screen and (max-width:768px){
  #sectionTrab{
    font-size: 20px;
  }
  
  .cards{
    flex-direction: column;
  }
}

/*==================== Media 375px ====================*/
@media screen and (max-width:375px){
  #sectionTrab{
    font-size: 16px;
  } 
}